<!DOCTYPE html>
<html>
    <head>
        <title>Page 1</title>
        <script data-main="home" src="../../resouce/lib/require.js"></script>
    </head>
    <body>
        <a href="../page2/page2.html">Go to Page 2</a>
        <div class="row">
            <div class="span8">
                <table class="table-bordered table" id="customer-table">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="customer-rows">

                    </tbody>
                </table>
            </div>
        </div>
        </div>

    </body>
</html>
